body {
    font-family: Arial, sans-serif;
    margin: 5;
    padding: 5;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: red;
    color: white;
    padding: 20px 0;
    z-index: 1500;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.navbar.scrolled {
    background-color: #222;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar ul li {
    display: inline;
    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s, border-bottom 0.3s;
}

.navbar ul li a:hover {
    color: black;
    border-bottom: 2px solid #ff6347;
}

.content {
    padding: 60px 20px;
}

section {
    margin: 50px 0;
}

section h1 {
    margin-bottom: 20px;
}
